<div class="guide-content">
  <div>To switch to Celcom, follow these guides and enjoy the best 4G network:</div>
  <ul class="guide-details">
      <li>Step 1: Switch to a normal Celcom postpaid line 
        <a href="https://www.celcom.com.my/personal/postpaid" target="_blank">here.</a>
      </li>
      <li>Step 2: Make sure you meet criterias below before submitting your request:
        <ul>
          <li>You have settled all the bills with your current service provider.</li>
          <li>No phone contract obligation with your current service provider.</li>
          <li>The mobile number is registered under your name.</li>
        </ul>
      </li>
      <li>Step 3: Once your SIM is on Celcom network, visit <a href="https://shop.celcom.com.my/store/devices" target="_blank">here</a> and purchase your device.</li>
  </ul>
</div>