<!-- <header class="r-header" style="min-height:102px !important"> -->
<header class="r-header homeMargin" [attr.data-analytics-region]="dataAnalyticsRegion">
  <nav [class.has-item-above]="isNotificationOpen" class="c-global-navigation is-fixed is-animated headroom--top headroom--not-bottom"
    data-js-module="global-navigation" data-js-options="{}">
    <div class="global-navigation__meta">
      <div class="c-meta-navigation--default" data-css="c-meta-navigation">
        <ul class="meta-navigation__list">
          <li *ngFor="let item of GlobalNavigationInfo; let i=index" [ngClass]="{'is-active': item.title === selected}"
            (click)="OnMenuSelect(item,i);" class="meta-navigation__list-item">
            <a href="{{item.absolute_path}}" class="meta-navigation__link">{{item.title}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="global-navigation__main">
      <div class="global-navigation__prime-wrapper">


        <div class="c-burger--default">
          <button class="burger" (click)="ToggleHamburgerMenu();" id="toggleimage" data-css="c-burger"
            data-js-options="{}" [ngClass]="{'is-active' : toggleMenu}">
            <span>toggle menu</span>
          </button>
        </div>


        <div class="c-logo--default" data-css="c-logo">
          <a href="https://www.celcom.com.my/">
            <img class="screen" src="./assets/img/svg/logo.svg" alt="Celcom" title="Celcom">
          </a>
        </div>
      </div>



      <div class="c-navigation--default" id="togglenavigation" data-css="c-navigation" data-js-module="navigation"
        data-js-options="{}" [ngClass]="{'is-open':toggleMenu}">
        <old-header-subnavigation-component *ngIf="IsInitiateSubNavigation" [NavigationInfo]="SubNavigationData"
          [SelectedMenu]="selected" [GlobalNavigationInfo]="GlobalNavigationInfo" (OnMobileMenuSelect)="MobileMenuSelect($event);"></old-header-subnavigation-component>
      </div>

      <div class="global-navigation__sec-wrapper">
        <div id="sec-wrapper-navigation" class="c-sec-navigation--default" data-css="c-sec-navigation" data-js-atom="toggle-nav-item"
          [ngClass]="{'is-menu-open':toggleMenu}">
          <ul class="sec-navigation__list">
            <!-- <li class="sec-navigation__list-item icon-cart-margin">
              <a href="javascript:void(0);" (click)="loadCart();"  class="sec-navigation__link">
                <i class="icon is-icon-cart"></i>
                <img _ngcontent-c1="" class="cart-img-style" src='../../assets/img/svg/icon_cart.svg'>
              </a>
            </li> -->
            <li *ngIf="!UserLoginName" class="sec-navigation__list-item login-margin">
              <a (click)="login();" class="sec-navigation__link">
                <img _ngcontent-c1="" class="cart-img-style" src='../../assets/img/svg/icon_myaccount.svg'>
                <span class="loginSpan">Login</span>
              </a>
            </li>
            <li *ngIf="UserLoginName" class="dropdown user-login-name sec-navigation__list-item Rectangle-8">
              <a class="dropbtn sec-navigation__link login-anchor">
                <img _ngcontent-c1="" class="cart-img-style login-image" src='../../assets/img/svg/icon_myaccount.svg'>
                <span class="Hi-Username">Hi, {{UserLoginName}}</span>
              </a>
              <div class="dropdown-content">
                <a class="sec-navigation__link is-desktop-hidden"><strong>Hi, {{UserLoginName}}</strong></a>
                <a [ngClass]="{'is-disabled' : ['GUEST', 'ENTERPRISE'].includes(userType)}" href="/store/viewmyprofile" class="sec-navigation__link is_border_bottom guestblock">My
                  Profile</a>
                <a [ngClass]="{'is-disabled' : ['GUEST'].includes(userType)}" href="/store/account/order-history"
                  class="sec-navigation__link is_border_bottom guestblock">My Orders</a>
                <a href="javascript:void(0);" (click)="logoutConfirmation();" class="sec-navigation__link">Logout</a>
              </div>

            </li>
          </ul>
        </div>


        <div id="guest-choose-way" class="guest-choose-model" style="display:none;">
          <div class="guest-modal-content">
            <section class="u-section" id="more_details" style="display: block;">
              <div class="section__inner">
                <div class="section__content">
                  <div class="guest-dtl-features-box">
                    <a (click)="close__terms__login();">
                      <img class="guest-box-close" src="../assets/img/store/shopcart-remove.svg">
                    </a>
                    <div class="guest-features-box-dtls">
                      <h3 class="Choose-your-way-in">Leaving so soon?</h3>
                      <p class="innerText">Are you sure you want to log out? </p>
                      <div class="logout-pop">
                        <div class="guest-connect-login-now1">
                          <a class="c-cta--default login-default-button" data-css="c-cta" (click)="close__terms__login();">
                            <span class="cta__content">Cancel</span>

                          </a>
                        </div>
                        <div class="guest-connect-login-now">
                          <a class="c-cta--default login-default-button" data-css="c-cta" (click)="LogoutUser();">
                            <span class="cta__content">Yes</span>

                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div hidden class="c-quicksearch--default" data-css="c-quicksearch" data-js-module="quicksearch"
          data-js-options="{}" data-js-atom="toggle-nav-item" [ngClass]="[toggleMenu ? 'is-menu-open':'',toggleSearch ? 'is-visible':'']">
          <a href="javascript:void(0);" class="quicksearch__toggle" data-js-atom="search-toggle" (click)="serachtextClick();">
          </a>
          <div class="quicksearch__form-wrapper">
            <form action="" class="quicksearch__form">
              <fieldset class="form__fieldset">
                <input type="search" name="search" data-js-atom="search-input" [(ngModel)]="SearchText" class="form__input"
                  placeholder="Type here to search...">
              </fieldset>
              <button type="submit" class="form__submit" (click)="OnSearchClick();"></button>
            </form>
            <a href="javascript:void(0);" class="quicksearch__close" data-js-atom="search-toggle" (click)="quicksearchClose();"></a>
          </div>
        </div>
      </div>
    </div>
   <div class="c-notification is-closed" style="display:none">
      <div class="notification__close-button icon is-icon-close" onclick="this.parentNode.classList.add('is-closed')"></div>
      <div class="notification__content">
        <div class="has-max-width-tablet-p">
        <!--  <h2 class="is-text-align-center">We're Sorry!</h2> -->
          <p class="is-text-align-center">Welcome to Celcom Online Shop.<br><br></p>
          <div class=" is-text-align-center">
            <a class="c-link on-dark-background" href="javascript:void(0);">Find out more <span class="cta__icon icon is-icon-arrow"></span></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
