<h4 class="midnightDeliveryHeading">Available for Pre Orders only.</h4>
<div class="midnightContent">
    <ul>
        <li>You will be notified via email or phone call if your order is eligible for midnight delivery. No change of delivery
            address will be allowed during the pre-order period.</li>
        <li>Order will be delivered between
            <b>12am to 3am</b> of the device launch date.</li>
        <li>Your presence with ID is required at the address provided during midnight delivery.</li>
        <li>In the event that your parcel is not delivered through Midnight Delivery, the parcel will be delivered in the next
            available working days to the address provided.</li>
        <li>Terms and conditions apply.</li>
    </ul>
</div>
