.celcom-number {
    margin-bottom: 16px;
}
.remove-x-blue {
	position: relative;
	right: 120px;
	color: #009ade;
	font-size: 14px;
	cursor: pointer;
	font-weight: bold;
}
.remove-x {
	margin-top: 18px;
    margin-right: 4px;
}
.remove-align {
    position: relative;
    right: 7%;
    cursor: pointer;
    color: #009ade;
    font-size: 14px;
    font-weight: bold;
}

.is-container {
	position: relative;
	margin: 0;
}

.mobile-connect-login-now {
	padding-top: 30px;
	padding-bottom: 34px;
	text-align: left;
}
.mobile-connect-heading {
	font-weight: bold;
	font-size: 16px;
	float: left;
	margin-top: 20px;
}
.form-control {
	border: none;
	outline: 0;
	padding-left: 16px;
	margin-bottom: 10px;
	border-bottom: 2px solid #ccc !important;
    width: 449px;
    height: 40px;
	background-color: #f3f3f3;
}

.mobile-no-manadatory {
	color: #d0011b;
}
.warning-icon-login {
	display: table-cell;
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.error-span {
	display: table;
	width: 480px;
}
.box-shadow-login {
	box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.2);
	border: solid 1px #fff;
	background-color: #fff;
	border-radius: 3%;
	float: left;
    width: 100%;
}
.box-shadow-login-content {
    display: grid;
	  /* margin-left: 0!important; */
}
.login-via-mobile-width {
	width: 83%;
	margin: 0 auto;
	margin-top: 20px;
}
.login-via-mobile {
	font-size: 32px;
	text-align: center;
	margin-top: 24px;
}
.login-error {
	font-size: 14px;
	color: #d0021b;
}
.mobile-control:active, .mobile-control:focus {
	border-bottom: solid 2px #009ade;
}
.errorborder {
	border-bottom: solid 2px #d0021b !important;
}
.login-via-mobile-heading {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: center;
	margin: 0;
	padding-top: 8px;
}
.moblie-form-group {
	font-size: 16px;
	height: 55px;
}
.disabled {
	pointer-events: none;
	cursor: default;
	color: gray;
}
button[disabled] {
	cursor: not-allowed;
	opacity: 0.65;
	background-color: #009ade;
}
.login-msg {
	margin-top: 2px;
	font-size: 12px;
    text-align: left;
    color: #333;
}

/*login end*/

@media (max-width: 768px) {
	/*log in start*/
	.login-error {
		float: left;
	}
	/* login end */
	/* terms and conditions start*/
	.login-terms-condts {
		width: 90%;
		margin: 0 auto;
		padding-top: 57px;
	}
  .newLine-msisdn
  {
    margin-left: 7%!important;
  }
	.celcom-number-font{
		font-size: 14px!important;
	}

	.terms-condts-inner {
		width: 100%;
	}
	.terms-default-button {
		min-width: 12rem !important;
	}
	.login-default-button {
		padding: 0 4em;
	}
	.form-control {
		width: 94.5%;
	}
	.remove-align {
		float: right;
		bottom: 57%;
	}
	.proceed-hw-login {
		margin-top: 20px !important;
		margin-left: 0 !important;
	}
	.box-shadow-login-content {
		margin-left: 7%!important;
	}
	.remove-x-blue {
		position: relative;
		bottom: 40px;
		left: 63%;
	}
	.cobp-line-search-icon {
		position: relative;
		left: 0 !important;
		float: right;
		bottom: 5.4rem !important;
	}
	.remove-x {
		margin-top: 5px;
	}
	/* terms and conditions end */
}
@media (min-width: 769px) and (max-width: 1024px) {
	/* login start */
	.login-top {
		top: 29% !important;
	}
	/* login end */
	.loader {
		margin-left: 30px;
	}
	/* .number-box-width {
		width: 340px!important;
	} */
	/* .number-reset-btn {
		left: 78% important;
	} */
	/* .arrow-icon {
		left: 309px!important;
		bottom: 54px!important;
	} */
}
@media (max-width: 768px) and (min-width:767px) {
	.login-top {
		top: 38% !important;
	}
}
@media(max-width: 767px) {
	.error-span {
		padding: 0 0 10px 0;
		width: 100%;
	}
	.dispMob {
		display: block;
	}
	.dispMobNric {
		display: block;
		margin-top: 38%;
	}
	.dispDesk {
		display: none;
	}
	.login-via-mobile {
		font-size: 31px;
	}
}
@media(min-width: 768px) {
	.dispMob {
		display: none;
	}
	.dispDesk {
		display: block;
	}
}
@media(max-width: 768px) {
	.loader {
		margin-left: 10px;
	}
	.login-msg {
    text-align: left;
	margin-left: 0;
	line-height: 15px;
	}
	.home_wireless_msisdn {
		margin-left: 0 !important;
	}
	.resetAfterSubmit {
		left: 83%;
	}
	.bundle-cobp-msisdn {
		margin-left: 0 !important;
	}
	div.newLine-msisdn {
		width: 62%;
		margin-left: 7%!important;
	}
	div.home_wireless_msisdn_error {
		margin-left: 0;
	}
	div.home_wireless_msisdn_error_2 {
		margin-left: 0;
	}
	p.home_wireless_mandatory {
		margin-left: 0;
	}
}


.errorred input[type=text] {
	border-bottom-color: red;
}

.is-full-width-image {
	padding-top: 5em;
}
.is-container {
	position: relative;
	max-width: 102.4rem;
	margin: initial;
}

.mobile-no-manadatory {
	color: #d0011b;
}

.login-default-button {
	padding: 0 4em;
}

.eligible-hw {
    margin: 16px 0;
    font-size: 14px;
}
.proceed-hw {
     width: 200px;
}
.proceed-hw-login {
    width: 130px;
    margin-left: 10px;
}
.proceed-hw , .proceed-hw-login{
    font-size: 16px;
    height: 40px;
    color: #fff;
    background-color: #009ade;
    border: none;
    outline: none;
}

.errorborder {
	border-bottom: 2px solid #d0021b !important;
}
.otp-expiry-login {
	font-size: 12px;
	color: #666666;
	text-align: left;
}

.caution-icon{
	margin-top: 3px;
}
button[disabled] {
	cursor: not-allowed;
	opacity: 0.65;
	background-color: #009ade;
}

.cobp-line-search-icon {
	position: relative;
	left: 415px;
	bottom: 53px
}
.cobp-line-search-icon .send-otp {
    height: 44px;
	width: 52px;
	background-color: #009ADE;
	border: none;
	outline: none;
	color: #fff;
}
.mobile-form-group .id-number {
	width: 449px;
	height: 40px;
}
.home_wireless_msisdn {
	margin-left: 62px;
	margin-top: -10px;
}
.resetAfterSubmit {
	right: 77px;
}
.formStyle {
	border: 1px solid #ccc !important;
	background-color: #fff !important;
}
.bundle-cobp-msisdn {
	margin-left: 0;
}
.fastcheckout-msisdn {
	margin-left: 50px !important;
}
.bundle-cobp-input-form {
	background-color: #f3f3f3;
}
.newLine-msisdn {
	margin-left: 0;
}
.home_wireless_msisdn_error {
	margin-left: 0;
}
.home_wireless_msisdn_error_2 {
	margin-left: 5%;
}
.mandatory-font {
	font-size: 12px;
}
.required-field {
	color: #d0021b;
}
.newLine-msisdn-bg.nric-newLine-bg-star{
	background-color: #fff;
}
.newLine-msisdn-bg {
	background-color: #f3f3f3;
	position: relative;
	bottom: 20px;
	padding-bottom: 20px;
  margin-left: -2px;
  padding-left: 2px;
}

div > input.newLine-msisdn-bg-input {
	background-color: #fff;
}
.bundle-cobp-msisdn-sectionize {
	padding-bottom: 20px;
}
.home_wireless_mandatory {
	margin-left: 62px;
}
.note-otp {
	font-size: 14px;
	color: #333;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

@media only screen and (min-width:320px) and (max-width:479px) {

	.celcom-number-font{
		font-size: 14px!important;
	}
	div.newLine-msisdn {
    width:84%!important;
    margin-left: 7%!important;
	}
	.resetAfterSubmit {
		left: 80%!important;
	}

	.fastcheckout-msisdn{
		margin-left: 10px !important
	}
 }
 @media only screen and (min-width:480px) and (max-width:767px) {

	.celcom-number-font{
		font-size: 14px!important;
  }
  .newLine-msisdn
  {
    margin-left: 7%!important;
  }
	div.newLine-msisdn {
		width:63%!important;
	}

}
