.billingAddContainer {
	width: 50%;
	display: inline-block;
	text-align: center;
}
.margin-bottom {
	margin-bottom: 30px;
}
.choose_shipping_add_title {
	font: normal normal normal 20px/normal Lato;
	letter-spacing: normal;
	color:#000000;
	padding: 30px 55px 0px 55px;
	margin: 30px 0 0 0;
	border-top: 1px solid #ccc;
}
.input_disable {
	opacity: 0.5;
	cursor: not-allowed;
}
.bb-note-container {
	background-color: #f3f3f3;
	padding: 16px 20px;
	text-align: left;
	width: 88%;
    margin: 20px auto;
}
.bb-note-header {
  font-stretch: normal;
  line-height: 1.43;
  font: normal bold 14px Lato;
  margin-bottom: 4px;
}
.bb-note-msg{
	font: normal normal 14px Lato;
}
#stateContainer .choose_form_group{
	margin: 0px !important;
}
.chooseAddress {
	margin: 16px 0;
	text-align: center;
}
.chooseAddress label {
	font: normal normal 16px Lato;
	  font-stretch: normal;
	  line-height: 18px;
	  margin-left: 5px;
}
.chooseAddress-error-align {
    position: relative;
    top: 3px;
    right: 5px;
}
.buttonContainer {
	position: absolute;
	bottom: -104px;
	width: 80%;
}
.checkout_billing_address {
  font: normal bold 16px Lato;
	font-stretch: normal;
	line-height: 1.0;
	letter-spacing: normal;
	color: #000;
	margin: 16px 0 30px 0;
	text-align: center
}
.checkout_billing_address p {
	margin: 0;
	word-wrap: break-word;
	line-height: 24px;
}
.proceed_anchor {
	cursor: pointer;
	font-size: 14px;
	margin: 10px
}
.back-to-cart {
  margin-top: 21px;
  font: normal bold 14px Lato;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #009ade;
}
.back-to-cart a {
	text-decoration: none;
}
.back-to-cart .icon {
	font-weight: bold;
	margin-top: .2rem;
}
/* start form CSS */
.checkout_mask {
	background-color: #666666;
}
.Reload-Now {
	width: 100%;
	height: 43px;
	font-size: 48px;
	line-height: 0.9;
	letter-spacing: -0.5px;
	text-align: left;
	color: #fff;
}
.Lets-begin-with-sim {
	width: 278px;
	height: 56px;
	font-size: 18px;
	line-height: 1.11;
	text-align: left;
	color: #fff;
}
.c-breadcrumb--default {
	padding: 0 18rem 1rem 20rem;
}
/*  Hero Section CSS End */

/*  Steps CSS Start */

.step__background-color {
	background-color: #f3f3f3;
}
.steps_accor.is-active {
	border: none !important;
	color: #000 !important;
	font-family: LatoLatinWeb, Arial, sans-serif !important;
}
/*  Callout CSS  */

.callout__image {
	width: 32px !important;
	height: 32px !important;
	border: 1px solid #008c8d !important;
	background-color: #fff;
}
.callout__image.is-step-active {
	background-color: #008c8d;
	color: #fff;
	border: none;
}
.callout__image.is-step-done {
	background-color: #ccc;
	color: #fff;
	border: 1px solid #ccc !important;
}
.callout__image>img {
	width: 33% !important;
}
.is-0 .callout__image-wrapper::after {
	display: none;
}
.tablinks .line_connect_step {
	position: absolute;
	top: 23%;
	left: 23%;
	width: 56%;
	opacity: 0.2;
	border: 1px solid #008c8d;
	z-index: -1;
}
button {
	width: 16%;
}
button[disabled] {
	cursor: not-allowed;
	opacity: 0.65;
	background-color: #009ade;
}
.disabledButton {
	cursor: not-allowed;
	opacity: 0.65;
	background-color: #009ade;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	/* appearance: none; */
	margin: 0;
}
@media (max-width: 767px) {
	.chooseAddress {
		margin-top: 16px;
		margin-bottom: 0;
	}
	.section__content .tab {
		margin: 0;
	}
	.c-tabs .tablinks {
		padding: 0;
	}
	.c-callout-icon-item--steps .callout-icon-item_content {
		width: 50px;
		margin: auto;
		text-align: center;
	}
	.tablinks .line_connect_step {
		top: 14%;
		left: 22%;
	}
	.billingAddContainer {
		width: 210px;
		padding: 0 0 20px 0;
	}
	.checkout_shipping_address {
		padding-top: 16px;
	}
	.checkout_billing_address p {
		width: 100%;
	}
	.choose_billing_address p {
		width: 100%;
	}
}
#step-1 {
	display: block;
}
#step-2, #step-3 {
	display: none;
}
/*  Steps CSS End */

/*   Personal Details CSS Start   */

.has_bg_color {
	background-color: #e5f3f3;
}
.is-justify-content-left {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: left;
}
.img_personal {
	width: 32px;
	height: 32px;
}
.checkout_phone {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #000;
	word-wrap: break-word;
}
.checkout_phone p, .chekout_mail p, .checkout_title p, .checkout_edit p {
	margin: 4px 0;
}
.chekout_mail {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #000;
	word-wrap: break-word;
}
.checkout_title {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #000;
	word-break: break-all;
}
.checkout_edit {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #009ade;
}
.checkout_edit a {
	text-decoration: none;
	color: #009ade;
}
.delivery_method p {
	text-align: left;
}
.checkout__grid-row {
	padding-bottom: 32px;
	border-bottom: 1px solid #979797;
}
.checkout_row {
	padding-top: 28px;
}
/*   Personal Details CSS End   */

/*    Shipping & Billing Address CSS Start		*/

#my-address, #new-address {
	background-image: url('/assets/img/product-cards/bg-grey-white-stripes.jpg');
	padding-bottom: 2em;
}
.address-full-width {
	width: 80%;
	margin: auto !important;
}
.choose_form_group {
	margin: 2px 0px 16px 0px;
	width: 100%;
}
.choose_form_group label {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000;
	font-family: Lato;
}
.address_control {
	width: 97.5% !important;
}
@media(width: 768px) {
	.address_control {
		width: 99% !important;
	}
}
.choose_form_group .new-add_require {
	color: #d0021b;
}
.choose_form_group .error {
	width: 97%;
}
.choose_form_group .residentTypeError {
	width: 47%;
}
.choose_form_group .residentTypeError .text-danger {
	color: #d0011b;
}
.choose_form_group .error .text-danger {
	color: #d0011b;
}
.error .text-danger {
	color: #d0011b;
}
.choose_form_group .error .warning-icon {
	width: 17px;
	height: 15px;
	float: right;
	padding-top: 5px;
}
.choose_form_group .error .clearfix {
	clear: both;
}
.choose_form_group .residentTypeError .clearfix {
	clear: both;
}
.choose_form_group .residentTypeError .warning-icon {
	width: 17px;
	height: 15px;
	float: right;
	padding-top: 5px;
}
.choose_form_control {
	border: none;
	outline: none;
	border-bottom: 2px solid #ccc;
	width: 297px;
	height: 40px;
	background-color: #f3f3f3;
	text-indent: 10px;
	font: 14px Lato;
}

.choose_form_control:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0px 9999px #f3f3f3;
	box-shadow: inset 0 0 0px 9999px #f3f3f3;
}
.choose_form_control:active, .choose_form_control:focus {
	border-bottom: solid 2px #009ade;
}
.choose_form_control:-webkit-autofill:focus, .choose_form_control:-webkit-autofill:active {
	-webkit-box-shadow: inset 0 0 0px 9999px #f3f3f3;
	box-shadow: inset 0 0 0px 9999px #f3f3f3;
}
.errorborder {
	border-bottom: solid 2px #d0021b !important;
}
select.choose_form_control {
	width: 47%;
	color: #626262;
	text-indent: 0;
	background-position-x: 98%;
	border-radius: 0;
	padding: 5px;
}
#state.choose_form_control {
	width: 95%;
	color: #626262;
	outline: none;
}
select.choose_form_control option {
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	border: none;
	text-indent: 0;
	padding: 10px;
}
/* Intially my-address to be displayed*/

.tab_address_content {
	display: none;
}
.choose_shipping_section {
	padding-bottom: 0 !important;
	border-bottom: 1.5px solid #c6c5c5;
	padding-top: 8px;
}
.tablink_content {
	font-size: 14px;
}
.tablink_content .img_tab1 {
	background-image: url('/assets/img/icon/my_address.svg');
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	margin: auto;
}
.tablinks.is-active .tab__wrapper .tablink_content .img_tab1 {
	background-image: url('/assets/img/icon/my_address_blue.svg');
}
.tablink_content .img_tab2 {
	background-image: url('/assets/img/icon/new_address.svg');
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	margin: auto;
}
.tablinks.is-active .tab__wrapper .tablink_content .img_tab2 {
	background-image: url('/assets/img/icon/new_address_blue.svg');
}
/* .choose_shipping_add_title {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000;
	font-family: "Lato";
} */
.tablink_content p {
	margin: 17px auto 11px;
}
.choose_new_add {
	border-radius: 12px;
	background-color: #fff;
	text-align: left;
  padding-top: 18px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.secondary_contact_text_field {
  width: 297px;
}
.choose_billing_address {
	padding-top: 30px;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: #000;
	text-transform: capitalize;
}
.choose_billing_address p {
	width: 50%;
	margin: auto;
	word-wrap: break-word;
}
.choose_billing_address .estimated_delivery_billing, .estimated_delivery_billing {
	padding: 24px 0;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.14;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.choose_billing_address .estimated_delivery_billing span, .estimated_delivery_billing span {
	font-weight: bold;
}
@media (max-width: 768px) {
	.choose_form_control {
		width: 98%;
	}
	select.choose_form_control, #state.choose_form_control {
		width: 100%;
		background-position-x: 95%;
	}
	.tablink_content p {
		width: 107px;
		margin: auto;
	}
	.address-full-width {
		width: 100%;
		margin: 0;
	}
	.choose_form_group .error {
		width: 100%;
	}
	.choose_form_group .residentTypeError {
		width: 100%;
	}
	/*gold plus section start*/
	.cart-gold-center {
		text-align: center;
	}
	.gold-cart-grid-content {
		line-height: 3em;
		font-size: 16px;
	}
	.gold-cart-arrow {
		margin-top: 14px;
	}
	/*gold plus section end*/
	/*view order section start*/
	.shop-cart-center {
		text-align: center;
	}
	.shop-cart-grid-content {
		line-height: 3em;
		font-size: 16px;
	}
	.shop-cart-arrow {
		margin-top: 14px;
	}
	/*view order section end*/
	/*total cost  section start*/
	.shopping_total__list {
		padding: 0 2em;
	}
	/*total cost  section end*/
	.buttonContainer {
		width: 90%;
	}
	button {
		width: 50%;
	}
}
/*    Shipping & Billing Address CSS End		*/

/*  Checkout Order Summary Steps & Address Section CSS Start */

.checkout_shipping_address {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: left;
	color: #000;
	text-transform: capitalize;
}
.checkout_shipping_address .shipping_address {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.25;
}
.checkout_shipping_address p {
	margin: 0;
}
/*  Checkout Order Summary Steps & Address Section CSS End */

/*  Order Summary Details CSS Start  */

/*order summery section start*/

.has__padding_top_1 {
	padding-top: 1em;
}
.shop-cart-background {
	background-color: #f3f3f3 !important;
	padding: 2em 0;
	margin-bottom: 1em;
}
.shop-cart-grid-content {
	line-height: 2em;
	font-size: 16px;
}
.shop-cart-grid-left-product {
	display: inline-block !important;
}
.shop-cart-grid-left-product .shop-cart-grid-left-title {
	width: 100%;
	margin: 0;
}
.shop-cart-content-inner {
	line-height: 1.3em;
	font-size: 14px;
}
.shop-cart-content-inner sup {
	font-size: 9px;
}
.shop-cart-grid-left {
	display: inline;
}
.shop-cart-grid-right {
	float: right;
}
.shop-cart-grid-border {
	border-bottom: 1px solid #ccc;
}
.shop-cart-link-style {
	text-decoration: none !important;
}
.shop-cart-arrow {
	margin-top: 0.5em;
}
.is-font-bold {
	font-weight: bold;
}
.order-summary-name {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000;
	text-align: center;
	margin-bottom: 24px;
}
/*order summery section end*/

/*gold plus section start*/

.gold_plus_border {
	height: 10px;
	background-color: #d1aa1f;
	background-image: linear-gradient(90deg, #d1aa1f, gold);
}
.is-text-bold {
	font-weight: bold;
}
.gold_sub_total {
	margin-top: 25px;
	border-top: 1px solid #ccc;
}
.gold-cart-background {
	background-color: #fff;
	padding: 2em 0;
	margin-bottom: 1em;
	border: 1px solid #ccc;
}
.gold-cart-benji {
  height: 10em;
  margin: 1em 0 0 3em;
}
.gold-cart-grid-content {
	line-height: 3em;
	font-size: 16px;
}
.gold-cart-content-inner {
	line-height: 1.7em;
	font-size: 14px;
	width: 20em;
}
.gold-cart-grid-left {
	display: inline;
}
.gold-cart-grid-right {
	float: right;
}
.shop-cart-grid-border {
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}
.gold-cart-link-style {
	text-decoration: none !important;
}
.gold-cart-arrow {
	margin-top: 1em;
}
/*gold plus section end*/

/*total cost section start*/

.shopping_total {
	text-align: center;
	background-color: #666;
	padding: 10px;
	color: #fff;
	font-size: 18px;
}
.shopping_total__list {
	padding: 0 5em;
	line-height: 1.13;
	font-size: 16px;
	box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.2);
	border: solid 1px #fff;
}
.shopping_total__list>div {
	padding: 20px 0;
}
.shopping_total__list .has-border__bottom {
	border-bottom: solid 0.5px #c6c5c5;
}
.grand__total, .grand__total_value {
	font-weight: bold;
}
.total__cost_value, .total_gst_value, .grand__total_value {
	text-align: right;
}
.acceptance-terms-conds {
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
  letter-spacing: normal;
  margin: 30px 0 25px 0;
}
.accptance-conditions {
	font-weight: bold;
	color: #009ade;
}
.acceptance-terms-conds a {
	text-decoration-color: #009ade;
}
/*total cost section end*/

/*note section start*/

.checkout-note {
	background-color: #f3f3f3;
}
.checkout-note-inner {
  padding: 15px 0 0 10px;
	font-size: 14px;
	font-weight: bold;
}
.checkout-note-details {
	padding-bottom: 25px;
}
/*note celcom end*/

@media (max-width: 600px) {
	.shop-cart-grid-left-product {
		display: inline-block !important;
		width: 150px !important;
	}
}
/*checkout standard delivery start*/
.checkout-standard-delivery {
	font-stretch: normal;
  	letter-spacing: normal;
  	margin: 38px 68px 18px;
	border-top: 1px solid darkgray;
}
.checkout-standard-delivery-header {
  font: normal bold 12px Lato;
  margin-top: 24px;
  margin-bottom: 4px;
}
.checkout-standard-delivery-msg{
	font: normal normal 12px Lato;
}
/*checkout standard delivery start*/

/* end form CSS */
