<footer class="r-footer agent-footer" [attr.data-analytics-region]="dataAnalyticsRegion" [class.agent-footer-list]="deviceListPage">
  <div class="agent-footer-copyright">
    <img class="footer-copyright-image" src="../../../assets/img/copyright.svg" alt="copyright">
     {{ current_year }} Celcom Axiata Berhad (Company No. 167469-A). All Rights Reserved.
  </div>
  <div class="agent-footer-links">
    <a class="agent-footer-anchor" href="https://www.celcom.com.my/support/contact-us"><span>Help Center</span></a>
    <a class="agent-footer-anchor" href="https://www.celcom.com.my/legal/terms-and-conditions/general#general-celcom-online-shop">
      <span>Terms & Conditions</span>
    </a>
    <a class="agent-footer-anchor" href="https://www.celcom.com.my/legal/privacy-matters"><span>Privacy Notice</span></a>
  </div>
</footer>


