.terms_conds {
  font-size: 12px;
}
.empty-space {
  width: 150px;
}
.plans-section-alignment {
  align-items: flex-end;
  margin-left: 3.5% !important;
}
.hat__container {
  font: normal bold 14px Lato;
  color: #f8b734;
  background-color: #000;
  line-height: 1.29;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px 7px 3px;
  text-align: center;
}
#pricing-option .is-col-tablet-p-4 {
  width: 50%;
}
.center-align-box {
  justify-content: left;
}
#pricing-option .is-col-tablet-p-8 {
  width: 100%;
  border-radius: 28px;
}
.is-default-cursor {
  cursor: default !important;
}
.supplimentary-margin {
  margin-top: 5px;
  margin-left: 3.5% !important;
}
.u-section.mviva-plan {
  margin-left: 0;
}
.max-supplimentary-info-container {
  width: 98.5%;
  display: -webkit-flex; /* Safari */
  display: flex;
  background-color: #f3f3f3;
  align-items: center;
  margin-left: 1%;
}
.max-subsidy-info-container {
  width: 94%;
  display: -webkit-flex; /* Safari */
  display: flex;
  background-color: #e5f3f3;
  align-items: center;
  margin-left: 5%;
}
.supplimentary-notification-content {
  font: normal normal 14px Lato;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
}
.subsidy-notification-content {
  font: normal normal 14px Lato;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.max-supplimentary-image {
  padding: 15px 8px 15px 20px;
}
.supplimentary-notification {
  width: 24px;
  height: 24px;
}
.is-tabs-equal-height {
  display: inline;
}
.purchase-align-middle {
  display: table-cell;
  vertical-align: middle;
}
.bold-font {
  font-weight: bold;
  font-size: 18px;
}
.rm-font {
  font-weight: bold;
  font-size: 14px;
}
.supplimentary-selection-info {
  margin: 30px 0 10px 5%;
}
.note__content {
  padding: 20px;
  background-color: #f3f3f3;
}
.note__content__inner {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.note__content .note__details {
  font: normal normal 14px Lato;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: justify;
  color: #000;
  margin-bottom: 0;
}
.device-bundle-plans:first-child {
  margin-left: 16px;
}
.no-margin {
  margin-left: -15px !important;
}
.plan-margin-16 {
  margin-left: 16px;
}
/* choose pricing options section css start */

.easy_phone_deatils {
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  min-height: 158px;
}
.easy_phone_deatils_top {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  /* text-align: center; */
}
.easy_phone_deatils_top p:first-child {
  /* margin-bottom: 10px; */
}
.easy_phone_deatils_top p:last-child {
  margin-top: 0px;
}
.plan_price_bundle {
  font-size: 25px;
}
.plan_price {
  font-size: 24px;
}
.device-only-margin {
  margin-top: 37px !important;
}
.disableClass {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.hideClass {
  display: none;
}
.bottom_left {
  /* border-right: 1px solid #ccc; */
  width: 35%;
  /* height: 91px; */
  line-height: 1.4em;
  text-align: center;
  border-bottom-left-radius: 8px;
}
.details_top_inner {
  font-size: 24px;
}
.details_top_total {
  font-size: 20px;
  font-weight: bold;
}
.details_top_color {
  font-weight: bold;
}
.bottom_left,
.bottom_right,
.bottom_left_selected {
  /* display: inline-block; */
}
.bottom_left {
  /* background-color: #f3f3f3; */
  width: 100%;
  /* padding: 20px 0px; */
}
.bottom_left p,
.bottom_left_selected p {
  margin: 0;
  font-weight: bold;
}
.bottom_left p:first-child,
.bottom_left_selected p:first-child {
  margin-top: 11px;
}
.bottom_left_selected p:last-child {
  font-weight: bold;
}
.bottom_left p:last-child {
  font-weight: normal;
  align-content: center;
  margin-top: 0px;
}
.phone_price {
  display: inline-block;
}
.phone_price {
  font-size: 16px;
  font-weight: bold;
}
.phone_price p:last-child {
  font-size: 14px;
  font-weight: normal;
  margin-top: 0px;
}
.phone_plus_plan {
  display: inline-block;
  width: 12%;
}
.bottom_right {
  text-align: center;
  width: 100%;
  /* margin-top: -93px;
  padding: 5px 0px 28px 0px; */
}
.phone_price {
  line-height: 1.4em;
}
.phone_price p {
  margin-bottom: 0px;
}
.phone_plus_plan span {
  font-weight: bold;
}
.phone_plus_plan p {
  margin: 0;
}
.easy_phone_deatils {
  margin-bottom: 20px;
}
.is-selected-method {
  background-color: #009ade;
  border: solid 1px #009ade;
  color: #fff;
  /* padding: 25px 10px 8px; */
}
.selected-plan-box {
  background-color: #009ade;
  /* border-right: 1px solid #fff; */
}
.easy-phone-selected-border {
  border-bottom: 1px solid #fff !important;
}
.bottom_left_selected {
  border-right: 1px solid #ccc;
  width: 100px;
  height: 91px;
  line-height: 1.4em;
  text-align: center;
  display: inline-block;
}
.rent_own_text_main {
  text-align: center;
}
.rent_text_title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
.not_desc,
.rent_desc {
  font-size: 16px;
  color: #666;
  margin-top: 0px;
}
.not_desc {
  width: 100%;
}
.not_desc strong {
  font-size: 13px;
  font-weight: 100;
}
.select_pricing_option {
  width: 585px;
  margin: 30px 17%;
  border: 1px solid #009ade;
  border-bottom-left-radius: 28px;
  height: 40px;
  border-top-left-radius: 27px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  background-color: white;
}
.pricing_options_inner {
  height: 40px;
  line-height: 2.5em;
  text-align: center;
  color: #009ade;
  font-weight: bold;
  margin-left: 0;
}
.is-selected_option {
  background-color: #009ade;
  color: #fff;
}
.easy-phone-tabs {
  cursor: pointer;
}
.bundle-tab {
  margin-left: 0;
  padding-left: 26px;
}

.is-rent-selected {
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}
.is-bundle-selected {
  padding-right: 19px;
  margin-right: 0px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}
.rent-box_mobile {
  margin-left: -20px;
  /* padding: 30px; */
}
.price_options_title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  display: inline;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .phone_plus_plan {
    min-width: 25%;
  }
  #pricing-option .is-col-tablet-p-4 {
    width: 49.98%;
  }
  #pricing-option .is-col-tablet-p-8 {
    width: 99.95%;
    border-radius: 28px;
  }
  .easy_phone_deatils {
    margin-bottom: 20px;
  }
  .select_pricing_option {
    width: 100%;
    margin: 25px auto;
  }
  .inner_pricing_border {
    margin-left: 0;
  }
  .price_options_title {
    text-align: center;
  }
  .is-bundle-selected {
    padding-right: 12px;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .bundle-tab {
    padding-left: 13px;
  }
  .terms_conds {
    text-align: center;
  }
  .understood-and-agree {
    padding-left: 0px;
  }
  .Choose-Add-ons-main {
    width: 92%;
    margin: 16px auto;
  }
  .Choose-Add-ons {
    text-align: center;
  }
  .section2 {
    text-align: center;
    line-height: 0;
  }
  .device__outerrow__right {
    display: inline;
    float: none;
  }
  .supplimentary-margin {
    margin-left: 0 !important;
  }
  .supplimentary-selection-info {
    margin-left: 0 !important;
  }
  .plans-section-alignment {
    margin-left: 0 !important;
  }
  .max-subsidy-info-container {
    width: 90%;
  }
}
@media (max-width: 320px) {
  .bottom_left {
    width: 80px;
  }
  .bottom_right {
    width: 175px;
  }
  .is-supplimentary-col-tablet-p-2 {
    width: calc(50% - 30px);
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .select_pricing_option {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .select_pricing_option {
    width: 70%;
    margin: 30px 0%;
  }
}
@media (max-width: 1024px) and (min-width: 1024px) {
  .bottom_right {
    width: 160px;
  }
}
/* choose pricing options section css end */

/* choose-add-ons css Start */

.has-section-padding.has-border {
  padding: 0 0 4rem 0;
}
.has-padding-inner {
  padding: 18px 0;
}
.understood-and-agree {
  padding-left: 69px;
}
.check_container {
  display: inline;
  position: relative;
  padding-left: 35px;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */

.check_container input {
  position: absolute;
  opacity: 0;
}
/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 18px;
  width: 17px;
  background-color: #fff;
  border: 2px solid #666;
}
/* On mouse-over, add a grey background color */

.check_container:hover input ~ .checkmark {
  background-color: #fff;
}
/* When the checkbox is checked, add a blue background */

.check_container input:checked ~ .checkmark {
  background-color: #2196f3;
  border: none;
  width: 20px;
  height: 20px;
}
/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */

.check_container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */

.check_container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 11px;
  border: solid white;
  color: white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.check_container .checkout-i-agree {
  font-weight: normal;
  color: #000;
}
.Choose-Add-ons {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}
.Sign-up-for-Lifestyl {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  margin-bottom: 21px;
}
.Sign-up-for-Lifestyl span {
  font-weight: bold;
}
.is-equal-height {
  margin-left: -10px;
}
/* for checkbox end*/

/* choose-add-ons css end */

/* Celcom Drop_3 Details Page Start */

.show-more-details {
  border-top: 1px solid rgb(204, 204, 204);
}
.is-container {
  max-width: 88%;
}
.teaser__link .device_detail_arrow-heading.is-arrow-active {
  transform: rotate(180deg);
}
.reframe_more_details .c-link--default .link__icon {
  color: #009ade;
  font-weight: bold;
}
.c-plan-comparison {
  padding-bottom: 3em;
}
.detail_samsung_galaxy {
  font-size: 32px;
}
.c-breadcrumb--default {
  padding: 0 18rem 1rem 26rem;
}
.is-margin-left-2 {
  margin-left: 2em;
}
.has_margin_top_2 {
  margin-top: 2em;
}
.is-padding-2 {
  padding: 2em 0;
}
.slider-container {
  width: 300px;
  margin: auto;
}
.has-line-through {
  text-decoration: line-through;
}
.o_plan {
  margin-bottom: 0;
  border: none;
  margin-top: 0;
}
.plan_content {
  padding-bottom: 0 !important;
}
.plan__content__wrapper > .plan__content-detail {
  font-size: 14px;
}
.plan__content__wrapper
  > .plan__content-detail
  > .plan__content-detail__description {
  font-size: 18px;
  font-weight: bold;
}
.plan__delivary > span {
  font-size: 18px;
  font-weight: bold;
}
.has-border-bottom {
  border-bottom: 1px solid #ccc;
}
.device_details_grid {
  margin: 1.7em 0 2em 0;
}
.details-slider-default {
  width: 300px;
}
.slider-list-wrapper {
  width: 300px;
  height: 300px;
}
.is-details-previous {
  left: 5px !important;
  border-radius: 50% 50% 50% 50%;
  width: 30px;
  opacity: 0.47;
  background-color: #000 !important;
}
.is-details-next {
  left: 15em;
  right: unset !important;
  border-radius: 50% 50% 50% 50%;
  width: 30px;
  opacity: 0.47;
  background-color: #000 !important;
}
.is-arrow-prev {
  font-size: 30px;
  margin-left: 8px;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari 3-8 */
  transform: rotate(180deg);
  color: #fff;
}
.is-arrow-next {
  font-size: 30px;
  margin-left: 8px;
  color: #fff;
}
.plan__content__wrapper {
  padding: 0;
  list-style-type: none;
  line-height: 2em;
  width: 160px;
}
.Estimated-Delivery {
  width: 364px;
  height: 16px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.limited_stock__container {
  width: 120px;
  height: 20px;
  background-color: #008c8d;
  border-radius: 10px;
}
.Limited-Stock {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin: 0;
}
.content__details {
  width: 140px;
  height: 74px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 2px #ccc;
  text-align: center;
  cursor: pointer;
}
.Oval {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  margin: 1em auto;
}
.is-bg-color-midnight_black {
  background-color: #000;
}
.is-bg-color-orchid_gray {
  background-color: #6e6e6e;
}
.is-bg-color-arctic_silver {
  background-color: #c6c6c6;
}
.is-bg-color-coral_blue {
  background-color: #4a65bc;
}
.is-bg-color-maple_gold {
  background-color: #bca17b;
}
.is-bg-color-rose_pink {
  background-color: #dfb0bd;
}
.choose__content {
  display: inline-block;
  padding: 0;
}
.choose__content_detail {
  margin: 5px;
  display: inline-block;
}
.details__choose_content_header {
  height: 22px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.is-selected {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px #009ade;
  border-radius: 8px;
}
.storage__details.is-selected {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px #009ade;
  border-radius: 8px;
}
.storage__details {
  width: 140px;
  height: 46px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 2px #ccc;
  cursor: pointer;
}
.storage__details__description {
  text-align: center;
  margin: 1em;
}
.choose__content_detail:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px #009ade;
  border-radius: 8px;
}
.c-plan-comparison
  .plan-comparison__list
  .plan-comparison__list__item
  .has-first-plan-arrow
  .plan-comparison__list__item__header__key {
  color: #009ade;
}
.device-detail-plan-border .plan-comparison__list__item__header__level-name,
.device-detail-plan-border .plan-comparison__list__item__header__key-figures {
  font: normal bold 18px Lato;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.teaser__link .is-icon-arrow {
  font-weight: bold;
}
.teaser__link .device_detail_arrow-heading {
  margin-top: 0.1em;
}

/* star flow */

.easy_phone_deatils_top_device {
  font-size: 14px;
  text-align: left;
  padding: 20px 8px;
}
.star_ultra_details {
  padding: 0 15px 15px 15px;
}
.star_plan_text {
  line-height: 1.4;
}
.ultra_plan_rm {
  font-size: 28px;
}
.rent-box_mobile {
  margin-left: -20px;
  /* padding: 30px; */
}
.plan_desc {
  text-align: left;
  padding: 0 15px;
  font-size: 14px;
}
.get_device > .plan-text {
  font-size: 24px;
}
.top_0 {
  margin-top: 0;
}
@media only screen and (min-width: 1024px) {
  .is-col-desktop-l-4 {
    min-width: calc(28.333333% - 26.67px);
  }
}
@media (max-width: 768px) {
  .tab-margin {
    margin-left: 1% !important;
  }
  .rent-box_mobile {
    margin-left: 0;
    /* padding: 30px; */
  }
  .is-col-mobile-p-12-device {
    width: 100%;
    margin-left: 0;
  }
}

/* star flow */

@media (max-width: 768px) {
  .empty-space {
    width: unset;
  }
  .is-supplimentary-col-tablet-p-2 {
    width: calc(50% - 30px);
  }
  .plan-margin-16:nth-child(even) {
    margin-left: 16px;
    width: 50%;
  }
  .last-tab {
    margin-left: 0;
    border-radius: 0 28px 28px 0;
  }
  .plan-margin-16:nth-child(odd) {
    margin-left: -15px;
    width: 49%;
  }
  .reframe_more_details {
    padding-bottom: 24px;
  }
  .show-more-details {
    padding-top: 24px;
  }
  .details__mobile_center {
    text-align: center;
  }
  .detail_samsung_galaxy {
    font-size: 28px;
  }
  .details__mobile_center .limited_stock__container {
    margin: auto;
  }
  .details-plan .details-plan__content .plan__content__wrapper {
    margin: auto;
  }
  .details__choose_content .details__choose_content_header {
    text-align: center;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__header
    .dev-dtl-key-fig {
    text-align: left;
  }
  .device-detail-plan-border .plan-comparison__list__item__header__level-name,
  .device-detail-plan-border .plan-comparison__list__item__header__key-figures {
    font-size: 1.4rem;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-section-padding {
    padding-bottom: 0;
  }
  .dev-dtl-select-hidden {
    display: none;
  }
  .is-mobile-hidden {
    display: none;
  }
  .device_detail_arrow {
    margin-top: 1px;
  }
  .device_detail_arrow-heading {
    margin-top: 2px;
  }
  .device_detial_inner {
    width: 100%;
  }
  .dev-dtl-link-condition {
    float: left;
    margin-left: 20px;
  }
  .dev-dtl-plan-header {
    padding-left: 3em !important;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__header.is-active::after,
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__header::after {
    display: block;
  }
  .c-accordion--default .accordion__btn::after,
  .c-footer
    .footer__sitemap
    .footer__sitemap__group
    .footer__sitemap__group-header::after,
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .device-detail-plan-border
    .plan-comparison__list__item__header::after {
    content: "\f103";
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .select-dtls {
    display: none;
  }
}
/* Celcom Drop_3 Details Details Page End */

.section2 {
  margin-bottom: 0;
}
.dev-dtl-plan-heading {
  padding-bottom: 8px;
  padding-top: 34px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.device_detail_link {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #009ade;
  text-decoration: none;
}
.device_detail_link_style {
  text-decoration: none !important;
}
.device_detail_left_link {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.device_detial_inner {
  width: 100%;
  overflow-x: visible !important;
}
.device__outerrow__right {
  float: right;
  margin: 3px;
}
.device_outerrow__left {
  display: inline;
}
.device-detail-plan-border {
  border: 1px solid #d8d8d8;
  height: auto;
}
.device-detail-plan-bordernone {
  border-style: none !important;
}
.select-dtls {
  width: 140px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #fff;
  border: solid 2px #ccc;
  cursor: pointer;
}
.select-dtls-description {
  text-align: center;
  margin: 1em;
}
.dev-dtl-select {
  margin: 10px 0px;
}
.is-selected {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px #009ade;
  border-radius: 8px;
}
.dev-dtl-condition {
  margin-top: auto;
  position: relative !important;
  width: 100%;
}
.dev-dtl-bold {
  font-weight: bold;
}
.dev-dtl-color {
  color: #000 !important;
}
.dev-dtl-desc-font {
  font-size: 12px;
}
.dev-dtl-right-link {
  margin-right: 23px;
}
.c-accordion--default .accordion__btn::after,
.c-footer
  .footer__sitemap
  .footer__sitemap__group
  .footer__sitemap__group-header::after,
.c-plan-comparison
  .plan-comparison__list
  .plan-comparison__list__item
  .device-detail-plan-border
  .plan-comparison__list__item__header::after {
  content: " ";
}
/*   CSS For Device Choose Number Start */

.details__choose_number {
  margin-bottom: 20px;
}
.Get_New_Number {
  display: inline-block;
  width: 141px;
  height: 62px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 2px #ccc;
  cursor: pointer;
}
.Get_New_Number__Details {
  width: 109px;
  height: 30px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  margin: 1em auto;
}
.Keep_celcom_Num__Details {
  width: 109px;
  height: 29.5px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  margin: 1em auto;
}
.Keep_celcom_Num {
  display: inline-block;
  width: 141px;
  height: 62px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 2px #ccc;
  cursor: pointer;
  margin-left: 21px;
}
.choose__number__accordian .tab {
  margin: 0;
}
.Get_New_Number.is-active,
.Keep_celcom_Num.is-active {
  border: solid 1px #009ade !important;
  border-radius: 8px;
}
.choose__number {
  padding: 0;
}
.content__number_detail {
  margin: 10px 10px 10px 0;
  display: inline-block;
}
.number__details {
  width: 140px;
  height: 46px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 2px #ccc;
  cursor: pointer;
}
.is-selected {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px #009ade;
  border-radius: 8px;
}
.My-Celcom-Number {
  width: 294px;
  height: 14px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
}
.dev-dtl-number-select-unsucess {
  padding-top: 20px;
}
.dev-dtl-number-select-unsucess p {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ec186a;
  display: inline-block;
}
.number-select-unsuccess-dtls {
  width: 140px;
  height: 46px;
  opacity: 0.5;
  border-radius: 8px;
  background-color: #fff;
  border: solid 2px #ccc;
}
.number-select-dtls-description-num {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.33;
  letter-spacing: normal;
  text-align: center;
}
.unsucess-sorry {
  width: 540px;
  height: 67px;
}
.unsucess-sorry .unsucess-story-content {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.43;
  letter-spacing: normal;
  text-align: left;
  background-color: #f3f3f3;
  padding: 6px;
}
.not_eligible {
  font-size: 12px;
  padding: 20px 0;
  color: #ea005a;
}
.warning__eligible {
  margin-left: 10px;
}
.choose__number__accordian .note__tab.is-active {
  border: none;
}
.note__content {
  padding: 20px;
  background-color: #f3f3f3;
}
.note__content__inner {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.note__content .note__details {
  font-size: 14px;
}
.upgrade_tick_mark {
  width: 12px;
  margin-left: 14px;
}
input.search__number__input::after {
  content: "";
  clear: both;
}

/* Intially Note to be displayed*/

#note.active {
  display: block;
}
/* Style the tab content */

.tabcontent {
  display: none;
  padding: 32px 0;
}
/*  Device Summary Section CSS Start   */

.summary__header {
  background-color: #666;
}
.summary__list .summary_list_wrapper {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
}
.summary_list_item {
  line-height: 1;
  padding: 8px 0;
}
.summary_list_item.list__item__selected {
  font-size: 12px;
}
.summary_list_item sup {
  font-size: 7px;
}
.is-float-right {
  float: right;
}
.is-text-bold {
  font-weight: bold;
}
.summary__list_total {
  padding: 24px 0;
}
.summary__list_total .summary__list__title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
}
.summary__list__gst {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  padding: 10px 0;
}
.summary__list__period {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  margin: 10px 0;
}
.summary__add_to_cart {
  padding: 0;
  width: 100%;
}
.summary__list_total .plan-comparison__list__item__actions__primary {
  padding-top: 15px;
}
.summary
  .summary__sitemap
  .summary__sitemap__group
  .summary__sitemap__group-header::after {
  content: "\f103";
}
.summary {
  background-color: #fff;
  color: #000;
  padding: 2rem 0;
}
.summary::after,
.summary::before {
  content: " ";
  display: table;
}
.summary .summary__sitemap {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 2rem;
  font-size: 1.4rem;
}
.summary .summary__sitemap .summary__sitemap__group {
  width: 100%;
  margin: auto;
}
.summary
  .summary__sitemap
  .summary__sitemap__group
  .summary__sitemap__group-header {
  display: block;
  text-decoration: none;
  padding: 1em 2.5em;
  background-color: #666;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.summary
  .summary__sitemap
  .summary__sitemap__group
  .summary__sitemap__group-header::after {
  font-family: cc-icons;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: bottom 0.3s linear 0.3s, transform 0.3s linear;
  transform: rotate(90deg);
}
.summary
  .summary__sitemap
  .summary__sitemap__group
  .summary__sitemap__group-header.is-active::after {
  transform: rotate(270deg);
}
.summary
  .summary__sitemap
  .summary__sitemap__group:first-child
  .summary__sitemap__group-header {
  border-top: none;
}
.summary
  .summary__sitemap
  .summary__sitemap__group
  .summary__sitemap__group-content {
  padding-bottom: 1rem;
}
.summary
  .summary__sitemap
  .summary__sitemap__group
  .summary__sitemap__group-content:not(.is-active) {
  padding-bottom: 0;
}
/*   CSS for More Details and Terms and Conditions    */

.features-box-dtls {
  width: 90%;
  margin: auto;
  padding-bottom: 34px;
}
/* Acordeon styles */

.features-box-tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background-color: #f4f4f4;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  color: #009ade;
  text-align: left;
}
.blue label {
  background: #2980b9;
}
.features-box-tab-content {
  max-height: 0;
  overflow: hidden;
  color: #000;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
.features-box-tab-content p {
  margin: 1em;
}
/* :checked */

input:checked ~ .features-box-tab-content {
  max-height: 25em;
}
/* Icon */

label::after {
  font-family: cc-icons;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  transform: rotate(90deg);
}
input[type="checkbox"] + label::after {
  content: "\f103";
  transform: rotate(90deg);
}
input[type="checkbox"]:checked + label::after {
  transform: rotate(270deg);
}
input[type="checkbox"]:checked + label > span {
  font-weight: bold;
}
.plan-padding-16 {
  padding: 16px 16px 2px 16px;
}
.features-box-tab span {
  color: #000;
  object-fit: contain;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
}
.dev-dtl-features-box {
  background-color: #fff;
}
.features-box-heading {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  padding-top: 56px;
}
.content-sub-heading {
  font-weight: bold;
  font-size: 14px;
}
.content-sub-desc {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5em;
}
.feature-box-close {
  width: 16px;
  float: right;
  margin: 20px;
}
.content-sub-desc-outer {
  line-height: 0.3em;
}
.tnc___margin_top {
  margin-top: 4em;
}
/*  device_details_modal CSS Start  */

.device_details_modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.device_details_modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
  height: auto;
}
#keyFeat_terms_Modal {
  display: none;
}
#more_details {
  display: none;
}
#terms_details {
  display: none;
}
.choose__content_detail:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px #009ade;
  border-radius: 8px;
  outline: none;
}
.content__number_detail:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px #009ade;
  border-radius: 8px;
  outline: none;
}
.select-dtls:focus {
  outline: none;
}
.device_detail_arrow {
  margin-left: 1rem !important;
  margin-top: 0.2rem;
}
.c-plan-comparison
  .plan-comparison__list
  .plan-comparison__list__item
  .plan-comparison__list__item__header.is-active::after,
.c-plan-comparison
  .plan-comparison__list
  .plan-comparison__list__item
  .plan-comparison__list__item__header::after {
  display: none;
}
@media (min-width: 769px) {
  .plan-section-padding {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .last-tab {
    margin-left: 0;
    border-radius: 0 28px 28px 0;
  }
  .mviva-plan {
    margin-left: 10px;
  }
  .is-supplimentary-col-tablet-p-2 {
    width: calc(19.8% - 60px);
  }
  .summary .summary__sitemap {
    width: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .summary
    .summary__sitemap
    .summary__sitemap__group
    .summary__sitemap__group-header::after {
    display: none;
  }
  .summary
    .summary__sitemap
    .summary__sitemap__group
    .summary__sitemap__group-header {
    pointer-events: none;
    height: 1em;
    border: none;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .summary__item_col {
    margin: 0;
  }
  .summary__total_col {
    margin-left: 40px;
  }
  .summary__list {
    padding-right: 40px;
  }
}
.reframe_plan_names {
  padding: 0;
}
.plan__name_detail {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}
.plan__details {
  height: 90px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #ccc;
  cursor: pointer;
}
.kardashian-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #000;
}
.kardashian-plan-selected {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.xpax-border {
  border: solid 1px #612993;
}
.first-plan-border {
  border: solid 1px #009ade;
}
.supplimentary_box_height {
  height: 63px;
  display: table;
  width: 100%;
}
.is-selectedPlan {
  pointer-events: none;
  cursor: not-allowed;
  border: solid 1px #009ade;
  border-radius: 8px;
  background-color: #009ade;
  color: #fff;
}
.is-xpax-selectedPlan {
  pointer-events: none;
  cursor: not-allowed;
  border: solid 1px #612993;
  border-radius: 8px;
  background-color: #612993;
  color: #fff;
}
.plan__details__description {
  text-align: center;
  margin-top: 16.6px;
  font-size: 14px;
  padding: 0 13px;
}
.plan_text,
.plan_figure {
  display: inline;
}
.supplimentary_line_description {
  display: table-cell;
  vertical-align: middle;
}
.plan__details__description p {
  margin: 0;
}
.supplimentary_line_description p {
  width: 90px;
  margin: 0 auto;
}
.supp_id {
  font-size: 24px;
  display: block;
}
.buy-without-plan {
  margin-top: 27px !important;
}
.reframe-border-bottom {
  border-bottom: 1px solid #ccc;
}
.Choose-a-Celcom-FIRS {
  font: normal bold 18px Lato;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 8px;
}
@media (orientation: landscape) {
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .has-first-plan-arrow::after {
    color: #009ade;
  }
}
@media only screen and (max-width: 767px) {
  .plan__name_detail {
    width: 100%;
  }
  .plan__details {
    width: auto;
  }
  .supplimentary_box_height {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 768px) {
  .plan__details {
    width: 101.8px !important;
  }
}
.reframe_more_details {
  text-align: center;
  padding-top: 24px;
}
@media (min-width: 769px) {
  .show-more-details {
    padding-top: 26px;
  }
  .reframe_more_details {
    padding-bottom: 32px;
  }
}
.plan-features {
  font: normal bold 18px Lato;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.has-border-bottom {
  border-bottom: 0.5px solid #c6c5c5;
}
.c-tabs .c-tabs__tab.is-active {
  font-weight: bold;
}
.table-tabs-head {
  border-radius: 21px;
  border: 1px solid #009ade;
  -moz-box-pack: justify;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  margin: 19px auto 24px;
  padding: 0;
  width: 50%;
  overflow: hidden;
}
.table-tabs-head li {
  display: inline-block;
  border-right: 1px solid #009ade;
  -moz-box-flex: 1;
  cursor: pointer;
  flex: 1 0 auto;
  width: 40px;
  text-align: center;
}
.table-tabs-head li.is-active:first-child a,
.table-tabs-head li:first-child a:hover {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.table-tabs-head li.is-active a {
  color: #fff;
  background: #009ade;
  cursor: pointer;
}
.table-tabs-head li a {
  background: #fff;
  color: #009ade;
  font-size: 18px;
  font-weight: 700;
  display: block;
  padding: 10px 0;
  height: 100%;
}
.c-tab-content {
  border: 0;
}
.c-tab-content__subline {
  padding-bottom: 4rem;
}
.c-tab-content__headline {
  margin: 4rem 0 0;
}
.c-plan-comparison
  .plan-comparison__list
  .plan-comparison__list__item
  .plan-comparison__list__item__content
  .detail-xpax.is-highlighted {
  background-color: #fff2e6;
  font-weight: bold;
}
.plan-comparison__list__item__actions__primary {
  width: 152px;
  margin: auto;
}
.plan-comparison__list__item__header__level-name {
  font-weight: bold;
}
.plan-comparison__list__item__actions__primary a {
  cursor: pointer;
}
.c-plan-comparison
  .plan-comparison__list
  .plan-comparison__list__item
  .plan-comparison__list__item__content {
  padding-bottom: 0;
}
@media (min-width: 980px) {
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__content:not(.is-active) {
    padding-bottom: 0;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__content:not(.is-active)
    .plan-comparison__list__item__content__detail {
    height: 29px;
    overflow: visible;
    padding-bottom: 21px;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__content:not(.is-active)
    .plan-comparison__list__item__content__detail.detail-xpax {
    padding-bottom: 1rem;
    line-height: 2.8rem;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__header
    .plan-comparison__list__item__header__key_xpax {
    color: #d1209b;
    text-align: center;
    font-family: Lato;
    line-height: 1.56;
    font-size: 32px;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__content
    .plan-comparison__list__item__content__detail {
    height: 35px;
    line-height: 1.8rem;
    padding: 1rem;
  }
}
.c-plan-comparison
  .plan-comparison__list
  .plan-comparison__list__item
  .plan-comparison__list__item__header
  .plan-comparison__list__item__header__key_xpax {
  color: #d1209b;
  text-align: center;
  font-family: Lato;
  line-height: 1.56;
}
.c-plan-comparison
  .plan-comparison__list
  .plan-comparison__list__item
  .plan-comparison__list__item__header
  .plan-comparison__list__item__level-indicator.is-level-xpax::before {
  background-color: #d1209b;
  background-image: linear-gradient(90deg, #d1209b, #d1209b);
}
@media (min-width: 769px) and (max-width: 1024px) {
  .c-plan-comparison .plan-comparison__list .plan-comparison__list__item {
    display: block;
    margin-right: 2rem;
    -ms-flex: 1;
    flex: 1;
    max-width: 400px;
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .c-plan-comparison .plan-comparison__list .plan-comparison__list__item {
    display: block;
    margin-right: 2rem;
    -ms-flex: 1;
    flex: 1;
    max-width: 593px;
    text-align: center;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item.is-plan-one {
    display: block;
    -ms-flex: 1;
    flex: 1;
    max-width: 500px;
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__header
    .plan-comparison__list__item__header__key_xpax {
    text-align: right;
    font-family: LatoLatinWeb, Arial, sans-serif;
    line-height: 3.2rem;
    font-size: 1.6rem;
    margin-top: 1px;
    width: 35%;
    white-space: nowrap;
    padding: 0 2rem 0 0;
  }
  .table-tabs-head {
    width: 100%;
    border-radius: 0;
  }
  .table-tabs-head li.is-active:first-child a,
  .table-tabs-head li:first-child a:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .summary
    .summary__sitemap
    .summary__sitemap__group
    .summary__sitemap__group-content.is-active {
    overflow: hidden;
    height: auto;
    border-bottom: 1px solid #ccc;
  }
  .summary
    .summary__sitemap
    .summary__sitemap__group
    .summary__sitemap__group-content:not(.is-active) {
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
  }
}
@media (max-width: 980px) {
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .has-xpax-arrow.is-active::after,
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .has-xpax-arrow::after {
    color: #d1209b;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .has-first-plan-arrow.is-active::after,
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .has-first-plan-arrow::after {
    color: #009ade;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__content,
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__content:not(.is-active) {
    padding-bottom: 0;
  }
  .plan-comparison__list__item__header.is-active .xpax-dot-color {
    background: #009ade;
  }
  .xpax-dot {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    z-index: 30;
    background-color: #fff;
    margin: 4px 6px 0 0;
  }
  .xpax-dot-border {
    display: block;
    border: 1px solid #979797;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
  }
  .plan-comparison__list__item__header .xpax-dot-color {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-top: 1.5px !important;
    padding-top: 1px;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    margin: auto;
  }
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__header.is-active::after,
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .plan-comparison__list__item__header::after {
    display: block;
  }
}
.plan-comparison__list__item__actions__primary .cta__icon {
  margin-left: 1rem !important;
}
.plan-comparison__list__item__actions__secondary .link,
.plan-comparison__list__item__actions__secondary .link .icon,
.c-plan-comparison
  .plan-comparison__list
  .plan-comparison__list__item
  .plan-comparison__list__item__content
  .plan-comparison__list__item__actions
  .link:hover,
.plan-comparison__list__item__actions__secondary .link .icon:hover {
  font-weight: bold;
  color: #009ade;
}
@media (orientation: landscape) {
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .has-first-plan-arrow::after {
    color: #009ade;
  }
}
@media (max-width: 425px) {
  .c-plan-comparison
    .plan-comparison__list
    .plan-comparison__list__item
    .has-first-plan-arrow::after {
    color: #009ade;
  }
}
@media (min-width: 280px) and (max-width: 289px) {
  .is-mobile-view {
    margin-left: 16px;
  }
}
@media (min-width: 290px) and (max-width: 299px) {
  .is-mobile-view {
    margin-left: 18px;
  }
}
@media (min-width: 300px) and (max-width: 319px) {
  .is-mobile-view {
    margin-left: 21px;
  }
}
@media (min-width: 375px) and (max-width: 390px) {
  .is-mobile-view {
    margin-left: 22px;
  }
}
@media (min-width: 391px) and (max-width: 405px) {
  .is-mobile-view {
    margin-left: 30px;
  }
}
@media (min-width: 406px) and (max-width: 420px) {
  .is-mobile-view {
    margin-left: 37px;
  }
}
@media (min-width: 421px) and (max-width: 435px) {
  .is-mobile-view {
    margin-left: 44px;
  }
}
@media (min-width: 436px) and (max-width: 450px) {
  .is-mobile-view {
    margin-left: 51px;
  }
}
@media (min-width: 451px) and (max-width: 465px) {
  .is-mobile-view {
    margin-left: 58px;
  }
}
@media (min-width: 466px) and (max-width: 480px) {
  .is-mobile-view {
    margin-left: 65px;
  }
}
@media (min-width: 481px) and (max-width: 495px) {
  .is-mobile-view {
    margin-left: 72px;
  }
}
@media (min-width: 496px) and (max-width: 511px) {
  .is-mobile-view {
    margin-left: 79px;
  }
}
@media (min-width: 512px) and (max-width: 527px) {
  .is-mobile-view {
    margin-left: 86px;
  }
}
@media (min-width: 528px) and (max-width: 545px) {
  .is-mobile-view {
    margin-left: 93px;
  }
}
@media (min-width: 546px) and (max-width: 570px) {
  .is-mobile-view {
    margin-left: 100px;
  }
}
@media (min-width: 571px) and (max-width: 590px) {
  .is-mobile-view {
    margin-left: 107px;
  }
}
@media (min-width: 591px) and (max-width: 610px) {
  .is-mobile-view {
    margin-left: 114px;
  }
}
@media (min-width: 611px) and (max-width: 630px) {
  .is-mobile-view {
    margin-left: 121px;
  }
}
@media only screen and (min-width: 768px) {
  .is-col-tablet-p-4 {
    /* width: calc(51% - 22px); */
  }
}
.backg {
  background-color: #e5f3f3;
  line-height: 52px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .max-supplimentary-info-container {
    width: 90.5%;
    margin-left: 3%;
  }
  .subsidy-notification-content {
    padding: 15px;
  }
}
.tab-margin {
  margin-left: 58px;
  margin-top: 15px;
}
.plan-top {
  padding-bottom: 14px;
}
.plan-top::after {
  content: "";
  clear: both;
  display: table;
}
.plan-top > .plan-text {
  float: left;
  font-size: 24px;
}
.plan-text {
  font-size: 28px;
  /* padding: 0 10px; */
  max-width: 169px;
}
.plan-figures {
  /* padding: 0 10px; */
}
.plan-top > .plan-figures {
  float: right;
  font-size: 20px;
  line-height: 1.2em;
}
.plan-notes {
  font-size: 16px;
}
.plan-notes > .plan-selected {
  font-weight: bold;
  font-size: 18px;
}
.plan-notes > ._has_margin {
  margin-top: 5px;
  display: inline-block;
}
.plan-notes > ._has_margin > .plan-total-monthly {
  font-weight: bold;
  font-size: 28px;
  color: #164396;
}
/* supplementary line text css */

.selection_text {
  display: flex;
  align-items: center;
  line-height: 1.5;
}
.selection_text img {
  margin: 0;
  padding: 0px 10px 0px 0px;
}
.eligible-text {
  font-weight: bold;
}
.eligible-text b {
  color: #008f8e;
}
.eligible-sub-text {
  font-size: 1.4rem;
  font-weight: normal;
}
.eligible-sub-text strong {
  font-size: 1.8rem;
}
.c-tabs.is-full-width {
  /* padding-bottom: 20px; */
  border-bottom: 1px solid #d2cece;
  margin-bottom: 20px;
  margin-left: 0px;
  width: 100%;
}
.choose_plan_selection {
  margin-left: 0px;
}
.c-tabs .c-tabs__tab {
  padding-bottom: 1rem;
}
.c-tabs .c-tabs__tab.is-active {
  box-shadow: inset 0px -3px 0px 0px #009ade;
  border: 0;
  font-weight: normal;
}
.is-disabled {
  color: #aaa;
  cursor: not-allowed !important;
}

.cursor-pointer {
  cursor: pointer;
}

.tabs .tab-item:first-child {
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
}

.tabs .tab-item:last-child {
  /* padding-right: 19px;
  margin-right: 0px; */
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

.pricetag {
  font-size: 24px;
}

.db-cards, .ep-cards {
  margin-top: 20px;
  min-width: 230px;
}

.f-size-14 {
  font-size: 12px;
}