<section *ngIf='deviceDetailsData' class="u-section is-zindex-0" id="step4">
    <div class="section__inner">
        <div class="section__content is-container">
            <div class="u-grid-row has-border-bottom">
              <div *ngIf='selectedImage' class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-3 summary-center">
                <img class="summary-samsung" src="{{selectedImage}}">
              </div>
              <div class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-9 margin-main-class">
                  <div class="u-grid-row has-border-bottom">
                      <div class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-12 devicename-gap">
                        <div class="is-col-mobile-p-7 is-col-tablet-p-9 margin-class">Home Wireless</div>
                        <div class="is-col-mobile-p-5 is-col-tablet-p-3 right-align">RM{{ (orderDevicePrice? (orderDevicePrice) : 0.00) | number : '1.2-2' }}</div>
                      </div>
                  </div>
                  <div class="u-grid-row has-border-bottom contract-gap margin-class">
                      <div class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-12 margin-class">
                        <div *ngIf='orderPlanName' class="is-col-mobile-p-9 is-col-tablet-p-9 margin-class">{{ orderPlanName }} ({{ sharedContract }})</div>
                      </div>
                  </div>
                  <div class="u-grid-row has-border-bottom is-bottom-gap margin-class ">
                      <div *ngIf='monthlyPay' class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-12 margin-class">
                        <div class="is-col-mobile-p-9 is-col-tablet-p-9 margin-class">Monthly Charges:<span class="is-bold">RM {{ (monthlyPay? (monthlyPay) : 0.00) | number : '1.2-2' }}</span></div>
                      </div>
                  </div>
                  <div *ngIf='orderPhoneNo' class="u-grid-row has-border-bottom is-bottom-gap">
                      <div class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-12 margin-class">
                        <div class="is-col-mobile-p-9 is-col-tablet-p-9 margin-class">Mobile Number:<span class="is-bold">{{ orderPhoneNo }}</span></div>
                      </div>
                  </div>
                  <div class="u-grid-row has-border-bottom is-bottom-gap margin-class">
                      <div class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-12 margin-class">
                        <div class="is-col-mobile-p-9 is-col-tablet-p-9 margin-class" *ngIf="upfrontInstallmentText">{{upfrontInstallmentText}}</div>
                        <div class="is-col-mobile-p-3 is-col-tablet-p-3 right-align">RM{{ (bundleUpfrontPrice? (bundleUpfrontPrice) : 0.00) | number : '1.2-2' }}</div>
                      </div>
                  </div>
                  <div class="bottom-gap" *ngIf = "deviceDetailsData && deviceDetailsData.bill_type == 2"><span class="is-font-bold bottom-gap auto-billing">Mandatory Autobilling</span></div>
                  <div class="u-grid-row is-border-top margin-class">
                      <div class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-12 is-top-gap grand-total">
                        <div class="is-col-mobile-p-6 is-col-tablet-p-9 has-border-bottom margin-class">Total</div>
                        <div class="is-col-mobile-p-6 is-col-tablet-p-3 right-align has-border-bottom">RM{{ (orderTotalPay? (orderTotalPay) : 0.00) | number : '1.2-2' }}*</div>
                        <p class="is-col-mobile-p-6 is-col-tablet-p-9"></p>
                        <p class="is-col-mobile-p-6 is-col-tablet-p-3 gst-include">*SST not included</p>
                      </div>
                  </div>
              </div>
            </div>
            </div>
          </div>
    </section>
