.instruction-container {
    width: 547px;
    margin: 18px 125px 0 0;
    padding: 24px 23px 24px 24px;
    font-family: Lato;
    background-color: rgba(69, 105, 171, 0.1);
    @media screen and (max-width: 768px) {
        padding: 0px;
        width: 100%;
    }

    .title {
        height: 24px;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #333333;
        margin-bottom: 0px;
        margin-top: 0px;
        @media screen and (max-width: 768px) {
            padding: 24px;
        }
    }

    .steps-container {
        display: flex;
        flex-direction: row;
        align-content: center;

        h5 {
            font-weight: bold;
            margin-bottom: 16px;
        }

        .step {
            text-align: center;
            margin: 24px 0 0 0;
            width: 100%;

            .step-icon {
                width: 96px;
                height: 96px;
                margin: 0px auto;
            }

            p {
                font-size: 14px;
                line-height: 1.21;
                width: 250px;
                margin: 16px auto;

                @media screen and (max-width: 768px) {
                    width: 297px;
                }
            }

            button {
                background: transparent;
                a {
                    text-decoration: none;
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
}
