<!-- Changed as Per Trimmed VD -->
<section class="u-section checkout_mask">
  <div class="section__border is-top">
  </div>
  <div class="section__inner is-vertical-center is-relative-mobile">
    <div class="section__content is-container">
      <div class="o-hero-banner">
        <div class="u-grid-row is-collapsed">
          <div class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-12">
            <div class="hero-banner__item is-mobile-centered is-padding-top-20 is-padding-bottom-20">
              <div>
                <div >
                  <p class="My-Profile-Details">{{data.Title}}</p>
                  <p class="My-Lorem-a-Lorem-ipsum" *ngIf="data.SubTitle != null">{{ data.SubTitle }} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>