@import "app/styles/scss/colors.scss";

$border-color: #ccc;
$focus-border-color: $primary-color;

.form-group {
    width: 100%;
    overflow: visible;
    
    .mat-checkbox-inner-container {
        width: 24px;
        height: 24px;
        margin-top: 0px;
        vertical-align: top !important;
    }
    .mat-checkbox-label {
        display: inline-block;
        white-space: break-spaces !important;
        max-width: 90%;
    }
    
    .mat-checkbox-frame {
        border-radius: 4px;
        border: solid 1px #cccccc;
        background-color: #ffffff;
    }

    .mat-radio-button {
        .mat-radio-container {
            width: 24px;
            height: 24px;
    
            .mat-radio-outer-circle {
                height: 24px;
                width: 24px;
                border-width: 1px;
                border-color: #ccc;
                background: white;
            }
    
            .mat-radio-inner-circle {
                height: 24px;
                width: 24px;
            } 
        }
        
        &.mat-radio-checked {
            .mat-radio-outer-circle {
                border-color: #ccc;
                border-width: 1px;
            }
            .mat-radio-inner-circle {
                transform: scale(.67);
            }
        }

        label {
            display: flex;
            align-items: center;
        }
    }

}


.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
    background: #cccccc;
    border-color: #cccccc;
}