<section class="u-section is-position-fixed"  [ngClass]= "{'csagent' : isCSAgent, 'customer': isCustomer}" id="sticky-cart">
  <div class="section__inner">
    <div class="section__content">
      <div class="summary">
        <div class="summary__sitemap" data-js-module="accordion"
          data-js-options="{&quot;closeClass&quot;: &quot;&quot;, &quot;openClass&quot;: &quot;is-active&quot;, &quot;toggleContentVisibility&quot;: false}">
          <!---->
          <div class="summary__sitemap__group">
            <div class="summary__header">
              <a class="summary__sitemap__group-header is-container" data-js-item="accordion-btn" href="#group_0"></a>
            </div>
            <div class="u-grid-row order-summary-sticky">

              <div aria-expanded="false" class="summary__sitemap__group-content" data-js-height="112"
                data-js-item="accordion-content" id="group_0">

                <div id='step1' class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-3 add-to-cart-row has-border-right"
                  [ngClass]="[isStep1Active?'is-selected':'']" [@heroState]="step==1 ? 'is-selected' : ''"
                  (click)="setStickyTab(1);">
                  <div class="add-to-cart">
                    <p *ngIf='!orderBasePlanMoon' class="summary-plan">Choose Plan</p>
                    <ng-container *ngIf='orderBasePlanMoon'>
                      <p class="summary-plan">{{ orderBasePlanMoon?.name }} {{ orderAddOnPassMoon?.name ? "+" : ""}} {{ orderAddOnPassMoon?.name }}</p>
                      <p>{{ orderBasePlanMoon?.key_figures_text }} {{ orderAddOnPassMoon?.key_figures_text ? "+" : ""}} {{ orderAddOnPassMoon?.key_figures_text }}</p>
                    </ng-container>
                  </div>
                </div>
                <div id='step2' class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-3 add-to-cart-row has-border-right"
                  [ngClass]="[isStep2Active?'is-selected':'', selectedDeviceInfoForMoon? '': 'isDisabled']" [@heroState]="step==2 ? 'is-selected' : ''"
                  (click)="setStickyTab(2);">
                  <div class="add-to-cart">
                    <p class="summary-device">{{ selectedDeviceInfoForMoon?.name ? selectedDeviceInfoForMoon.name : 'No device selected' }}</p>
                    <p *ngIf="selectedDeviceInfoForMoon?.name" >{{orderSummaryColor}}, {{orderSummaryStorage}}</p>
                  </div>
                </div>
                <div id='step3' class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-3 add-to-cart-row has-border-right"
                  [ngClass]="[isStep3Active?'is-selected':'']" [@heroState]="step==3 ? 'is-selected' : ''" (click)="setStickyTab(3)">
                  <div class="add-to-cart">
                    <p [hidden]="orderPhoneNo || orderNumberType" class="summary-number">Type of Purchase</p>
                    <p class="summary-number" *ngIf="orderNumberType && orderNumberType !== null && orderNumberType == 'NewNumber'">New Number
                    </p>
                    <p class="summary-number" *ngIf="orderNumberType && orderNumberType !== null && orderNumberType == 'KeepNumber'">My Celcom Number</p>
                    <p class="summary-number" *ngIf="orderNumberType && orderNumberType !== null && orderNumberType == 'SwitchToCelcom'">Switch to Celcom</p>
                    <p class="summary-number" [hidden]="!orderPhoneNo">{{orderPhoneNo}}</p>
                  </div>
                </div>
              </div>
              <div class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-3 has-border-right-width add-to-cart-row"
                [ngClass]="[isStep4Active?'is-selected':'']" [@heroState]="step==4 ? 'is-selected' : ''">
                <div class="add-to-cart-summary">
                  <div (click)="setStickyTab(4);" class="summary-total">
                    <div>Total</div>
                    <div class="summary-tot-value" *ngIf = "orderNumberType && orderNumberType !== null && orderNumberType !== 'KeepNumber'">RM{{ (orderTotalPay? (orderTotalPay) : 0.00) |
                        number : '1.2-2'}}*</div>
                        <div class="summary-tot-value" *ngIf = "orderNumberType && orderNumberType !== null && orderNumberType === 'KeepNumber'">RM{{ (orderTotalPay? (orderTotalPay + deviceUpfrontPenalty) : (0.00 + deviceUpfrontPenalty)) |
                          number : '1.2-2'}}*</div>
                  </div>
                  <div class="add-to-cart-cta">
                    <div class="plan-comparison__list__item__actions__primary">
                    <!-- [ngClass]="{'is-disabled-next':isBtnDisabled || ToasterDisabled}" -->
                      <button *ngIf="step!=4" class="c-cta--default summary__add_to_cart" data-css="c-cta"
                        (click)="setStickyTab(0)">
                        Next<i class="cta__icon icon is-icon-arrow"></i>
                      </button>
                      <button *ngIf="step==4 || isInsideContainer" class="c-cta--default btn__add_to_cart" data-css="c-cta"
                      [class.is-disabled-addToCart]="(addToCartButtonDisable() || disableAddTocart)"
                      (click)="AddItemToCart();">
                        Add To Cart<i class="cta__icon icon is-icon-arrow"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-notification-error *ngIf='showErrorToaster' [data]="errorToasterData"></app-notification-error>

<app-choose-your-way *ngIf="this._stickySummary.chooseYourWay" (hideChooseWay)="disableChooseWay($event);"></app-choose-your-way>
<app-device-detail-disclaimer (ItemInCart)="this._stickySummary.itemExistsInCart($event)" *ngIf="this._stickySummary.showDisclaimer && this._stickySummary.desclaimerUrl" [data]="this._stickySummary.desclaimerUrl"
    [orderDetails]="this._stickySummary.orderDetails" [selectedProductDetails]="this._stickySummary.selectedProductDetails"></app-device-detail-disclaimer>
<app-notification-error *ngIf = "this._stickySummary.sessionInvalid" [IsSessionInValid] = "this._stickySummary.sessionInvalid"></app-notification-error>
<app-notification-error *ngIf = "this._stickySummary.IsMnpFlowFromDevice" [data] = "this._stickySummary.infoMNPflow"></app-notification-error>
<app-notification-error *ngIf = "this._stickySummary.upfrontWaivedSuccess" [data] = "this._stickySummary.infoMNPflow"></app-notification-error>
<app-notification-error *ngIf = "this._stickySummary.upfrontWaivedFailure" [data] = "this._stickySummary.infoMNPflow"></app-notification-error>
<app-notification-error *ngIf = "this._stickySummary.errorStockNotAvail" [data] = "this._stickySummary.stockErrorMessage"></app-notification-error>
<app-notification-error *ngIf = "this._stickySummary.isLimitReachedError" [data] = "this._stickySummary.limitReachedErrorMsg"></app-notification-error>
<app-notification-error *ngIf="this._stickySummary.maximumReservation" [data]="this._stickySummary.infoMaxLimit"></app-notification-error>
<app-notification-error *ngIf = "this._stickySummary.reserveNumberNotification" [data]= "this._stickySummary.numberExistsMessage"></app-notification-error>

<age-eligibility-popup-component *ngIf="this._stickySummary.IsDisplayAgeEligibilityPopup" [EligibilityPopupType]="this._stickySummary.EligibilityPopupType" (OnContinue)="this._stickySummary.OnContinueEligibilityCheck($event);"></age-eligibility-popup-component>

