<section class="u-section shopping_mask">
  <div class="section__border is-top">
    <div class="section__border-container">
      <svg height="100%" preserveAspectRatio="none" viewBox="0 378.568 612 34.863" width="100%"></svg>
    </div>
  </div>
  <div class="section__inner is-vertical-center is-relative-mobile">
    <div class="section__content is-container">
      <div class="o-hero-banner">
        <div class="u-grid-row is-collapsed">
          <div class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-12">
            <div class="hero-banner__item is-mobile-centered is-padding-top-20 is-padding-bottom-20">
             
                <div>
                  <p class="Reload-Now">{{ data.Title }}</p>
                <p class="sub-text" *ngIf="data.SubTitle != null">{{ data.SubTitle }}</p>
                </div>
            
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>