.card-wrapper {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(auto, 318px));
    // gap: 17px;
    
    &:empty {
        display: none;
    }
}

.placeholder-card {
    border-radius: 8px;
    height: 200px;
    width: 100%;
}

.has-badge {
    padding-top: 15px;
}

.item {
    padding-left: 22px;
    box-sizing: border-box;
}

.myPoint {
    list-style-type: none;
    text-align: center;
    padding: 12px;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;

    li {
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #e5e5e5;
        padding: 4px;
        height: 20px;
        width: 20px;
        cursor: pointer;
        color: #009bdf;
        position: relative;

        &.navBtn {
            border: 0;
            top: 10px;

            &.disabled {
                pointer-events: none;
                .toggle-arrow {
                    border-color: #ccc;
                }
            }

            &.left {
                .toggle-arrow {
                    transform: translate(0,-50%) rotate(135deg);
                }
            }

            &.right {
                .toggle-arrow {
                    transform: translate(-100%,-50%) rotate(-45deg);
                }
            }

        }

        &.active {
            background: #009bdf;
            color: white;
            border: 0;
        }

        & + li {
            margin-left: 16px;
        }

        &.hidden {
            display: none;
        }

        .toggle-arrow {
            border: 0;
            border-bottom: 2px solid #009bdf;
            border-right: 2px solid #009bdf;
            width: 12px;
            height: 12px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) rotate(45deg);
            transition: .3s;
            transition-delay: .3s;
        }
    }
}

.ngu-touch-container {
	margin-left: -22px;
}