@import "app/shared/components/forms/estore-checkbox/estore-checkbox.component.scss";
.mat-menu-panel {
    border-radius: 8px !important;
    max-width: 340px !important;
    margin-right: -14px;
    .mat-menu-item {
        width: 340px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;

        & + .mat-menu-item {
            border-top: 1px solid #ccc;
        }

        &.selected {
            &, .mat-icon {
                color: #009BDF;
                margin: 0;
            }
        }

        > span {
            flex: 1;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.form-group.radio {
    overflow: visible;
    display: inline-block;
    width: auto;
    padding-top: 11px;
    margin: 0;
}