<section class="u-section background-image-login">
    <div class="section__inner">
      <div class="section__content">
        <div class="error-container">
          <picture class="c-picture--slider is-full-width-image" data-css="c-picture">
            <img class="dispMob" src="../assets/img/Drop_3/lineart-mob.jpg" media="(max-width: 767px)">
            <img class="dispDesk" src="../assets/img/Drop_3/lineart.jpg" media="(min-width: 768px)">
            <!--<img class="picture__image" src="../assets/img/Drop_3/lineart.png" alt="Banner">-->
          </picture>
          <div class="hero-banner__container is-vertical-center is-mobile-absolute-top -uh-oh-3-top">
            <div class="hero-banner__content is-container">
              <div class="u-grid-row is-collapsed">
                <div class="u-grid-col is-col-mobile-p-12 is-col-tablet-p-6 is-col-desktop-l-6">
                  <div class="hero-banner__item">
                    <div class="-uh-oh-3-main">
                      <div class="-uh-oh-3">Oops! Payment incomplete.</div>
                      <p class="Error-Page-not-foun">
                        Looks like your order was not completed. But it’s okay. Just head back to the shop and reselect the items you want to purchase.</p>
                      <div class="-uh-oh-3-Rectangle-3">
                        <a class="c-cta--default login-default-button -uh-oh-3-button " href="/" data-css="c-cta">
                          <span class="cta__content">Back to Shop</span>
                          <span class="cta__icon icon is-icon-arrow"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>