.banner-container {
  text-align: left;
  display: flex;
  flex-direction: row;
  // background-color: #f2f3f4;
  background-image: url('/assets/img/banners/CLMBanner_DeskBG.png');
  background-size: cover;
  @media (max-width: 670px) and (min-height: 400px) {
    flex-direction: column;
    background-image: url('/assets/img/banners/CLMBanner_MobBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .campaign-contents {
    min-height: 246px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    .campaign-title {
      margin: 24px;
      font-size: 28px;
      margin-bottom: 16px;
      color: #fdb934;
    }
    .campaign-description {
      margin: 24px;
      margin-top: 0;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      flex-grow: 1;
    }
    .campaign-offer {
      margin: 24px;
      margin-top: 0;
      flex-basis: 75px;
      font-size: 20px;
      > div {
        display: inline-block;
        padding: 8px;
        color: white;
      }
      
      &:empty {
        display: none;
      }
    }
  }
  .campaign-image {
    flex-basis: 28vw;
    .desk-img {
      display: none;
    }
    .mob-img {
      display: block;
      height: 100%;
      width: 90%;
    }
    @media (max-width: 670px) {
      margin-top: -42px;
    }
  }
  @media (min-width: 671px) {
    .campaign-image {
      // background-image: url('/assets/img/banners/omni_banner_image.png');
      // background-repeat: no-repeat;
      // background-position: right;
      // background-size: contain;
      flex-basis: 28vw;
      .desk-img {
        display: block;
        height: 100%;
        width: 100%;
      }
      .mob-img {
        display: none;
      }
    }
  }
}